.catalog_section{
    margin-top: 105px;
    .section_title{
        text-align: center;
    }
    .catalog_items{
        gap: 13px 0;
        margin-top: 30px;
    }
    .catalog_item{
        position: relative;
        width: calc(25% - 10px);
        @media (max-width:1120px) {
            width: calc(50% - 10px);  
        }
        @media (max-width:768px) {
            width: 100%;
        }
        .catalog_image{
            width: 100%;
            object-fit: contain;
            @media (max-width:1120px) {
                border-radius: 25PX;
                height: 300px;
                object-fit: cover;
            }
        }
        .catalog_item_info{
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            padding: 32px 30px 29px 40px;
            justify-content: space-between;
            @media (max-width:1400px) {
                padding: 22px 20px 19px 25px;
            }
            
            .catalog_title{
                color: #FFF;
                font-family: "Tilda Sans";
                font-size: 50px;
                font-style: normal;
                font-weight: 900;
                line-height: 90%;
                @media (max-width:1800px) {
                    font-size: 44px;
                }
                @media (max-width:1650px) {
                    font-size: 34px;
                }
                @media (max-width:1200px) {
                    font-size: 28px;
                }
            }
            .catalog_subtitle{
                color: #FFF;
                font-family: "Tilda Sans";
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 115%;
                margin-top: 10px;
            }
        }
        &:last-child{
            width: calc(75% - 5px);
            @media (max-width:1120px) {
                width:100%;
            }
            .catalog_item_info{
                width: 50%;
                padding:38px 33px 47px 47px ;
                .catalog_title{
                    color: #000;
                }
                .catalog_subtitle{
                    color: #000;
                }
                &:first-child{
                    @media (max-width:768px){
                        width: 65%;
                        padding: 38px 33px 47px 36px;
                    }
                }
                &:last-child{
                    width: fit-content;
                    left: auto;
                    right: 0;
                    align-items: flex-end;
                    img{
                    transform: rotate(-95deg);

                    }
                }
            }
        }
        .button{
            margin-left: auto;
            margin-right: 0;
            padding:42px 40px;
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            @media (max-width:1400px) {
                padding:32px 30px;
            }
        }
    }
}
.catalog_ral{
    padding-top: 98px;
    @media (max-width:768px){
        padding-top: 45px;
    }
    .catalog_top_title{
        .section_title{
            text-align: center;
        }
        p{
            color: #17191C;
            text-align: center;
            font-family: "Tilda Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 115%;
            padding-top: 18px;
            width: 100%;
            max-width: 1116px;
            margin: 0 auto;
            @media (max-width:768px){
                font-size: 16px;
            }
        }
    }
    .catalog_ral_items{
        margin-top: 55px;
        gap: 21px 0;
        @media (max-width:768px){
            margin-top: 25px;
        }
        .catalog_ral_item{
            border-radius: 20px;
            background: #FFF;
            padding: 20px;
            width: calc(33.33% - 10px);
            transition: all .2s linear;
            &:hover{
                box-shadow: 0  0 20px #00000077;
            }
            @media (max-width:1120px) {
                width: calc(50% - 10px);
            }
            @media (max-width:768px) {
                width:100%;
                border-radius: 12px;
                padding: 15px 18px;
            }
        }
        .catalog_title{
            color: #17191C;
            font-family: "Tilda Sans";
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%; 
            letter-spacing: -1.08px;
            @media (max-width:1650px) {
                font-size: 28px;
            }
            @media (max-width:1400px) {
                font-size: 22px;
            }
            @media (max-width:768px){
                font-size: 18px;
            }
        }
        .catalog_color{
            border-radius: 20px;
            background: #D6C694;
            width: 145px;
            height: 177px;
            @media (max-width:1650px) {
                height: 147px;
            }
            @media (max-width:1400px) {
                width: 132px;
            }
            @media (max-width:768px){
                width: 100px;
                height: 120px;
            }
        }
    }
    .button.catalog{
        padding: 42px 52px;
        color: #050E25;
        font-family: "Tilda Sans";
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%; 
        margin: 50px auto 0;
        @media (max-width:768px) {
            margin-top: 25px;
            border-radius: 20px;
            padding: 33px 43px;
        }
    }
}
