.modal{
    position: fixed;
    z-index: 1111;
    background: #f3c63355;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 30px;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: none;
    
    .container{
        padding-top: 90px;
    }
    .exit_icon{
        transform: rotate(-45deg);
        position: absolute;
        right:50px;
        top: 40px;
        color: #17191C;
        cursor: pointer;
        text-align: center;
        font-family: "Tilda Sans";
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 90%; 
        z-index: 111    ;
        @media (max-width:1120px) {
            right: 0;
            top: 0;
            width: 50px ;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .modal_content{
        overflow: hidden;

    }
}
.exit_icon{
    transform: rotate(-45deg);
    position: absolute;
    right:50px;
    top: 40px;
    color: #17191C;
    cursor: pointer;
    text-align: center;
    font-family: "Tilda Sans";
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%; 
    z-index: 111    ;
    @media (max-width:1120px) {
        right: 0;
        top: 0;
        width: 50px ;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.catalog_page{
    &::-webkit-scrollbar{
        display: none;
    }
    .container{
        position: relative;
        border-radius: 25px;
        background: #F3F5F6;
        padding: 32px 125px 66px 84px;
        @media (max-width:1200px) {
            padding: 32px 20px 66px 24px;
        }
        @media (max-width:768px) {
            padding-top: 46px;
        }
        
    }
    .form_input{
        &.hidden{
            display: none;
        }
        
        .chech_btn{
            width: 100%;
            border-radius: 25px;
            border: 1px solid rgba(0, 0, 0, 0.20);
            height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            color: #050E25;
            text-align: center;
            font-family: "Tilda Sans";
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            transition: all .2s linear;
            @media (max-width:768px) {
                border-radius: 16px;
                padding: 15px 20px;
                font-size: 14px;
            }
            sup{
                @media (max-width:768px) {
                    font-size: 12px;
                    margin-top: -5px;
                }
            }
            &:hover{
                background: #F3C733;
            }
        }
    }
    .form_item{
        width: calc(33.33%  - 51px); 
        gap: 56px 0;
        @media (max-width:1200px) {
            width: calc(33.33%  - 11px); 
        }
        @media (max-width:1120px) {
            width: calc(50%  - 11px); 
        }
        @media (max-width:768px) {
            width:100%; 
            gap: 35px;
        }
        .form_input_title{
            color: #050E25;
            font-family: "Tilda Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            width: 100%;
        }
        .all_btn{
            color: #3E6B94;
            text-align: center;
            font-family: "Tilda Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            width: 100%;
            display: block;
            
        }
        .form_content.size{
            justify-content: space-between;
            .form_input{
                width: calc(25% - 6px);
            }
        }
        .form_content.exterer{
            gap: 18px 0;
            .form_input{
                width: calc(50% - 6px);
            }
        }
    }
    .form_content{
        gap: 19px 0;
        
    }
    .price_range {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        .flex{
            width: 100%;
        }
    }

    .price_label {
        background-color: #f4c030;
        padding: 15px 21px;
        border-radius: 20px;
        font-weight: bold;
        color: #000;
        text-align: center;
        min-width: 100px;
        color: #050E25;
        font-family: "Tilda Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 20px;
        background: #F3C733;

    }

    .slider_container {
        flex-grow: 1;
        margin: 0 10px;
    }
    .irs{
        width: 100%;
    }
    .irs--flat .irs-bar {
        background: #F3C733;
        height: 1px;
    }

    .irs--flat .irs-handle {
        background-color:#fff ;
        border: 2px solid #F3C733;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        top: 16px;
        cursor: pointer;
        i{
            background-color: #fff !important;  
        }
    }
    .irs-line{
        background: #DFDFDF;
        height: 1px;
    }
    
}