.promotions{
    padding-top: 72px;
    .section_title{
        text-align: center;
    }
    &_content{
        position: relative;
        margin-top: 50px;
        .promotions_slider{
            padding: 0 35px;
            position: relative;
            z-index: 7;
            @media (max-width:768px) {
                padding: 0 15px;
            }
            .promotions_img{
                border-radius: 25px;
                width: 100%;
                object-fit: cover;
                @media (max-width:1120px) {
                    height: 560px;
                }
                @media (max-width:556px) {
                    height: 510px;
                }
            }

        }
    }
    &_button{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 100%;
        left: 0;
        .promotions_btn{
            cursor: pointer;
            position: relative;
            z-index: 9;
            transition: all .2s linear;
            border-radius: 50%;
            &:hover{
                opacity: .8;
            }
            img{
                @media (max-width:768px) {
                    width: 40px;
                }
            }
            &:first-child{
                transform: rotate(-180deg);
            }
        }
    }
    &_title{
        color: #FFF;
        text-align: center;
        font-family: "Tilda Sans";
        font-size: 54px;
        font-style: normal;
        font-weight: 900;
        line-height: 90%;
        @media (max-width:768px) {
            font-size: 44px;
        }

    }

    .slide_info_cart{
        position: absolute;
        top: 0;
        padding: 95px 65px 110px ;
        width: 100%;
        justify-content: space-between;
        z-index: 9;
        @media (max-width:1200px) {
            padding: 45px 65px 40px ;
        }
        @media (max-width:1120px) {
            flex-direction: column;
        }
        @media (max-width:768px) {
            padding: 45px 15px 40px ;
        }
        @media (max-width:556px) {
            padding: 45px 0px 40px ;
        }
    }
    .slide_item{
        position: relative;
    }
    .sales_cart {
        width: fit-content;
        // margin: ;
        background: rgba(0, 0, 0, 0.10);
        backdrop-filter: blur(100px);
        padding: 57px  20px 20px 20px;
        border-radius: 25px;
        transition: all .2s linear;
        @media (max-width:1400px) {
            padding: 47px  20px 20px 20px;
        }
        @media (max-width:1140px) {
            margin: 10px auto;
            width: calc(100% - 20px);
        }
        @media (max-width:556px) {
            padding: 40px  10px 20px 10px;
            border-radius: 10px;
        }
        .cart_top{
            padding: 0 30px 27px;
            @media (max-width:1400px) {
                padding: 0 18px 17px;
            }
            .cart_sum{
                color: #F3C733;
                font-family: "Tilda Sans";
                font-size: 44px;
                font-style: normal;
                font-weight: 900;
                line-height: 90%;
                @media (max-width:1655px) {
                    font-size: 32px;
                }
                @media (max-width:1400px) {
                    font-size: 24px;
                }
            }
            .cart_nosum{
                color: #8E8E8E;
                font-family: "Tilda Sans";
                font-size: 34px;
                font-style: normal;
                font-weight: 900;
                line-height: 90%;
                text-decoration: line-through;
                @media (max-width:1655px) {
                    font-size: 22px;
                }
                @media (max-width:1400px) {
                    font-size: 16px;
                }
            }
        }
        .cart_btn{
            border-radius: 25px;
            border: 1px solid rgba(255, 231, 231, 0.10);
            justify-content: space-between;
            align-items: center;
            .cart_btn_info{
                gap: 30px;
                padding-left: 30px;
                @media (max-width:1400px) {
                    padding-left: 15px;
                    gap: 15px;
                }
                .flex{
                    align-items: center;
                    gap: 8px;
                    color: #FFF;
                    font-family: "Tilda Sans";
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 115%; 
                    @media (max-width:1140px) {
                        font-size: 16px;
                    }
                }
                img{
                    width: 12px;
                    height: 12px;
                }
            }
            a{
                padding: 23px;
                border-radius: 25px;
                background: #F3C733;
                width: 103px;
                height: 103px;
                transition: all .2s linear;
                &:hover{
                    transform: scale(.96);
                }
                @media (max-width:1655px) {
                    width: 93px;
                    height: 93px;   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width:1400px) {
                    width: 63px;
                    height: 63px;   
                    padding: 10px;
                }
                @media (max-width:556px) {
                    width: 53px;
                    height: 53px;   
                    border-radius: 16px;
                    padding: 10px;
                    img{
                        width: 40px;    
                    }
                }
            }
        }
    }
}